.slick-dots > ul{
    width: 70%;
};

.ant-row{
    justify-content: center;

}

.container{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.ima{
    display: inline;
  margin: 0 auto;
  margin-left: -25%; 
  height: 100%;
  width: auto;
}

.about-content h1{
    margin-top: 0;
}

.App {
    text-align: center;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .carousel-items {
    display: flex;
    align-items: center;
  }
  
  .carousel-item {
    margin: 0 5px;
    transition: transform 0.3s;
    flex: 0 0 20%;
  }
  
  img {
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .center {
    transform: scale(1.5);
    margin: 3.2rem;
    opacity: none;
  }
  
  .opacity {
    opacity: 0.7;
  }
  
  .end {
    transform: scale(0.6);
    margin: -15px;
  }
  
  button {
    font-size: 24px;
    padding: 5px 10px;
    margin: 10px;
  }

.ant-card .ant-card-meta-description {
    color: rgb(0 0 0);
}

.cara ul li button {

    height: 5px;
    background: #1677ff;
    opacity: 1;
}

.dotsClass{

  height: 5px;
  background: #1677ff;
  opacity: 1;
}

